@import "~@officeComponent/css/auth/default.css";
@import "~@/scss/_variables.scss";

$info-color: #17a2b8;
$sucess-color: #28a745;
$error-color: $danger;

// Исправления jGrowl
#jGrowl.jGrowl {
  right: auto;
  left: 0;
  width: 100%;

  .jGrowl-closer__custom {
    margin-left: auto;
    margin-right: 5px;
    width: auto;
    max-width: 150px;
  }

  .jGrowl-notification.custom-message {
    &-error,
    &-success,
    &-info {
      width: 100%;
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 0;
    }

    &-error {
      background-color: $error-color;
    }

    &-success {
      background-color: $sucess-color;
    }

    &-info {
      background-color: $info-color;
    }
  }
}
