#office-auth-form .form-group {
    margin-bottom: 5px;
}

#office-auth-form .hidden {
    display: none;
}
#jGrowl.jGrowl{right:auto;left:0;width:100%}#jGrowl.jGrowl .jGrowl-closer__custom{margin-left:auto;margin-right:5px;width:auto;max-width:150px}#jGrowl.jGrowl .jGrowl-notification.custom-message-error,#jGrowl.jGrowl .jGrowl-notification.custom-message-success,#jGrowl.jGrowl .jGrowl-notification.custom-message-info{width:100%;margin:0;text-align:center;font-size:16px;font-weight:bold;border-radius:0}#jGrowl.jGrowl .jGrowl-notification.custom-message-error{background-color:#dc3545}#jGrowl.jGrowl .jGrowl-notification.custom-message-success{background-color:#28a745}#jGrowl.jGrowl .jGrowl-notification.custom-message-info{background-color:#17a2b8}

