#msCost {
  .order_cost {
    &.js_hide-border {
      border: none;
    }
  }
}

section#content {
  .content__catalog__headings {
    @include make-row(10px);

    $headings: img, article, title, vendor, price-wrap, addcart;

    @each $heading in $headings {
      .product__#{$heading} {
        @include make-col-ready(10px);
        display: block;
        font-size: 14px;
        text-align: left;
        font-weight: bold;
      }
    }

    &__wrapper {
      padding: 10px;
      background-color: #e9ecef;
      border: 1px solid #ccc;
      border-bottom-color: transparent;
    }

    .product {
      &__img {
        width: 45px;
        max-width: 45px;
      }

      &__article {
        width: 150px;
        min-width: 150px;
        text-align: center;
        padding-right: 15px;
      }

      &__title {
        width: 810px;
        max-width: 810px;
      }

      &__vendor {
        width: 150px;
        min-width: 150px;
        text-align: center;
      }

      &__price-wrap {
        width: 100px;
        min-width: 100px;
      }

      &__addcart {
        width: 100px;
        min-width: 100px;
        flex-grow: 0;
      }
    }
  }
}
