@mixin indents-x($size, $type: margin, $important: false) {
  @if ($important == false) {
    #{$type}-left: $size;
    #{$type}-right: $size;
  } @else {
    #{$type}-left: $size !important;
    #{$type}-right: $size !important;
  }
}

@mixin indents-y($size, $type: margin, $important: false) {
  @if ($important == false) {
    #{$type}-top: $size;
    #{$type}-bottom: $size;
  } @else {
    #{$type}-top: $size !important;
    #{$type}-bottom: $size !important;
  }
}

@mixin sm() {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin md() {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin lg() {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

@mixin xl() {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

@mixin include_hidden() {
  .hidden {
    display: none;
  }

  .not-hidden {
    display: block;
  }
}
