.appSearchResults {
  > .table {
    thead {
      th {
        text-align: left;
      }
    }

    tbody {
      td {
        vertical-align: middle;

        img {
          width: 100%;
          max-width: 90px;
        }
      }
    }

    tfoot {
      td {
        @include indents-x(0, padding);
      }
    }
  }

  + nav {
    ul.pagination {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .page-item {
        padding: 0 5px;

        .page-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 25px;
          padding: 0 10px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-decoration: none;
        }

        &.active {
          .page-link {
            background: #fde037;
            color: #fff;
          }
        }
      }
    }
  }
}

.ui-menu.ui-widget {
  .mse2-ac-item {
    @include lg {
      $grid-gutter-width: 15px;

      @include make-row($grid-gutter-width);

      &__image {
        @include make-col-ready($grid-gutter-width);
        @include make-col-auto();

        > img {
          margin-right: 0 !important;
        }
      }

      &__title {
        @include make-col-ready($grid-gutter-width);
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;

        > .highlight {
          background-color: $danger;
          color: white;
        }
      }

      &__article {
        @include make-col-ready($grid-gutter-width);
        @include make-col(4);

        > strong {
          margin-left: 0 !important;
        }
      }

      &__price {
        @include make-col-ready($grid-gutter-width);
        @include make-col(2);
      }
    }
  }

  li.show-more-btn {
    text-align: right;

    > a {
      display: inline-block;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      outline: none;
      border: none;
      background-color: $btn-success;
      color: white;
      font-weight: 700;
      transition: $transition-default;
      text-decoration: none;
      padding: 5px 10px;
      margin: .5rem 0;

      &:hover {
        background-color: $btn-secondary;
      }
    }
  }
}
