@import "~bootstrap/scss/alert";

.office {
  &__reg, &__reset-password {
    @include include_hidden();

    .office-auth-register-wrapper {
      > form {
        max-width: 350px;

        .form-group {
          margin-bottom: 1rem !important;

          .control-label {
            display: block;
            margin-bottom: .5rem;
          }

          .form-control {
            font-family: "GothamPro";
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid transparent;

            &.invalid {
              border-color: $danger;

              + .help-block {
                > small {
                  color: $danger;
                }
              }
            }
          }

          .help-block {
            > small {
              @include lg() {
                font-size: 12px;
                color: lighten($primary, 30%);
              }
            }
          }
        }
      }
    }

    .btn {
      display: inline-block;
      padding: 1px 6px;
      text-decoration: none;

      &-link {
        color: #a0a4bc;
        font-weight: normal;
        background: transparent;
        transition: opacity .4s;
        text-decoration: underline;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__profile {
    @extend .office__reg;

    #office-profile-form {
      .header {
        @include indents-x(0, padding);
      }
    }
  }

  &__auth {
    @include include_hidden();

    $grid-gutter-width: 15px;

    width: 350px;

    .office-auth-login-wrapper {
      .form-group {
        margin-bottom: 1rem !important;

        &:last-of-type {
          margin-bottom: 0 !important;
        }

        .btn-wrap {
          @include make-row($grid-gutter-width);
          width: auto;

          &__item {
            @include make-col-ready($grid-gutter-width);
            @include make-col(6);

            > .btn {
              width: 100%;
              text-align: center;
            }

            &:last-of-type {
              @include make-col-auto();
              margin-left: auto;

              > .btn-reset {
                @include indents-x(0, padding);
                border: none;
                background: none;
                color: $primary;
                font-weight: normal;

                @include hover-focus() {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .form-control {
          border: 1px solid transparent;

          &.invalid {
            border-color: $danger;

            & + .help-block {
              > small {
                color: $danger;
              }
            }
          }
        }
      }
    }
  }
}
