$primary: #333;
$secondary: #999;
$danger: #dc3545;
$info: #0c5460;
$btn-success: #9cc218;
$btn-secondary: #575b71;
$black: #000;
$white: #fff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "info": $info,
  "black": $black,
  "white": $white,
  "btn-success": $btn-success,
  "btn-secondary": $btn-secondary
);

$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$transition-fast: .1s;
$transition-default: .25s;
$transition-long: .5s;

$close-font-size: 1rem * 1.5;
$enable-rounded: true;
$theme-color-interval: 8%;
$enable-gradients: false;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
