.acSearch {
  $control-height: 60;

  position: relative;

  form {
    #input-search {
      max-height: #{$control-height}px;
    }
  }

  &__result {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: .4s;
    top: calc(#{$control-height}px - 15px);
    background: white;
    width: 100%;
    box-shadow: 3px 2px 8px 0 #223C5033;
    visibility: hidden;

    &.showed {
      opacity: 1;
      visibility: visible;
      transition: .4s;
    }

    > .table {
      border: 1px solid #e9ecef;
      border-top-width: 0;
      margin-bottom: 0;
    }

    &__no-result {
      text-align: center;
      font-weight: 500;
      font-size: 18px;
    }

    &__loader {
      font-size: 20px;
      text-align: center;
      padding: 10px;
    }

    &__show-all {
      text-align: right;
      padding: 0 1rem 1rem;

      > .btn {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
