@import "~bootstrap/scss/vendor/rfs";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/functions";

@import "variables";
@import "mixins";
@import "animations";

@import "./components/alert";

@import "minishop2";
@import "office";
@import "mSearch2";

.form__recall {
  width: 100%;
  max-width: 480px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  margin: auto;

  .form__title {
    background: #333;
    color: #fff;
    font-size: 18px;
    padding: 25px;
    position: relative;

    > button {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 36px;
    }
  }

  form.ajax_form.af_example {
    padding: 25px;

    .form-group {
      margin-bottom: 15px;

      .control-label {
        margin-bottom: 5px;
      }

      input, textarea {
        font-family: "GothamPro";
        padding: 5px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 100%;
      }
    }

    .controls {
      > button[type="submit"] {
        float: none;
        padding-left: 25px;
        padding-right: 25px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

section#bar {
  .container-fluid {
    > div:first-child {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .bar__city {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      margin-left: 0;
      color: #fff;

      &-link {
        display: flex;
        justify-content: center;
        height: 40px;
        text-decoration: none;
        padding: 0 15px;
        align-items: center;
        color: #fff;
        transition: $transition-default;

        i {
          font-size: 24px;
          margin-right: 10px;
        }

        span {
          color: #fff;
          border-bottom: 1px dashed #fff;
          transition: $transition-default;
        }

        &:hover {
          background: $secondary;
          color: #fff;

          span {
            border-color: transparent;
          }
        }
      }
    }

    .msMiniCart {
      color: white;

      &__link-wrapper {
        &, &:hover {
          text-decoration: none;
          transition: background-color $transition-default;
        }

        display: block;
        height: 100%;
        background-color: $secondary;
        border-left: 1px solid #f9f9f9;

        &:hover {
          background-color: darken($secondary, 10%);
        }
      }

      .cart {
        &__sum {
          @include indents-x(0, padding);
          background-color: transparent;
          color: white;
        }

        &__qnt {
          padding-top: 3px;
        }
      }
    }
  }
}

section#header {
  .header__catalog {
    .header__catalog-list {
      &.level-three {
        max-height: 300px;
      }
    }
  }

  .header__search {
    $displayed-search-btn: none;

    $vertical-padding-size: 10px;
    $horizontal-padding-size: 15px;
    $button-max-width: 86px;
    $icon-width: 18px;

    position: relative;

    &-input {
      @include indents-y($vertical-padding-size, padding);
      @include indents-x($horizontal-padding-size, padding);

      &.ui-autocomplete-loading {
        & + .search__loading {
          display: flex;
        }
      }
    }

    .search__loading {
      @if ($displayed-search-btn != 'none') {
        right: 10px + $horizontal-padding-size + $button-max-width;
      } @else {
        right: 10px + $horizontal-padding-size;
      }

      display: none;
      position: absolute;

      top: $vertical-padding-size;
      color: lighten($secondary, 20%);
      align-items: center;

      &__icon {
        position: relative;
        animation: app-rotate 2s linear infinite;
        z-index: 2;
        width: $icon-width;
        height: $icon-width;
        right: 0;

        & .path {
          stroke: lighten($secondary, 20%);
          stroke-linecap: round;
          animation: app-dash 1.5s ease-in-out infinite;
        }
      }
    }

    .search__btn {
      @if ($displayed-search-btn == 'none') {
        display: none !important;
      }

      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      outline: none;
      border: none;
      background-color: $btn-success;
      color: white;
      font-weight: 700;
      transition: $transition-default;

      &:hover {
        background-color: $btn-secondary;
      }
    }
  }
}

.phone-code-wrap {
  .help-block {
    margin-top: 10px;
    z-index: $zindex-dropdown;
  }
}
