.acSearch{position:relative}.acSearch form #input-search{max-height:60px}.acSearch__result{position:absolute;z-index:1;opacity:0;transition:.4s;top:calc(60px - 15px);background:white;width:100%;box-shadow:3px 2px 8px 0 #223C5033;visibility:hidden}.acSearch__result.showed{opacity:1;visibility:visible;transition:.4s}.acSearch__result>.table{border:1px solid #e9ecef;border-top-width:0;margin-bottom:0}.acSearch__result__no-result{text-align:center;font-weight:500;font-size:18px}.acSearch__result__loader{font-size:20px;text-align:center;padding:10px}.acSearch__result__show-all{text-align:right;padding:0 1rem 1rem}.acSearch__result__show-all>.btn{display:inline-block;padding-left:15px;padding-right:15px;text-decoration:none;text-align:center}

